.main {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main select {
	width: 33%;
	background-color: rgb(255, 255, 255);
}

input {
	width: 32%;
}

.products {
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 10px;
}

.load_button {
	width: 7rem;
	height: 2.25rem;
	cursor: pointer;
	text-align: center;
	color: white;
	background-color: rgb(100, 100, 184);
	border: 1px solid white;
	border-radius: 1.15rem;
	font-size: 1rem;
}

.load_button:hover {
	background-color: rgb(146, 146, 219);
	font-size: 1.05rem;
}
